---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import myImage from '../../src/images/Fredrik_snowshoe_walking.jpg';

const title = "About Me";

const clients = ["Didriksson (CG/Photo)", "High End Media Group (CG)", "Jensen @ R3 (CG)", "SunOff @ R3 (CG)", "Vyonyx (CG)", "STCC @ R3 (CG)", "Beyond (CG)", "We are Woonderland (CG)", "Hemtex (Photo ass)", "Ellos (Photo ass)", "Gina tricot (Photo ass)",   "Rekotex (Web)", "Autocirc @ R3 (Web)", "Hööks @ R3 (Web)", "Life @ R3 (Web)",  "ACG Pulse (Photo)", "Esoft (Photo)",];

const skillsCg = ["Model", "Texture", "Light", "UV", "Render", "DCC (Blender, Maya, C4D)", "Photoshop", "Mattepainting", "Retousching", "PBR", "Zbrush", "HDRI Creation", "Worldcreator and more"];

const skillsDev = ["JavaScript (ES6, React.js, Next.js, Node.js, Astro.js)", "HTML", "CSS (SCSS, Linaria, Tailwind)", "Git", "Ci/Cd (GitHub Actions, Docker Composer)", "Containers (Docker)", "Linux server", "C#", "SQL", "Agile", "Wordpress", "PHP", "Norce", "API (GraphQL, REST)", "WebGL (Three.js) and more"];

---

<BaseLayout title={title}>

    <div class="content">

        <Image
            src={myImage}
            alt="Fredrik snow shoe walking"
            width={myImage.width / 2}
            densities={[1.5, 2]}
        />

        <p>
            At NJORD, we provide consulting services in 3D visuals and web development, helping clients bring their ideas to life through captivating visuals and seamless digital solutions. Our mission is to collaborate with clients to create interactive experiences that engage audiences and deliver impactful results.

            Fredrik, founder of NJORD, is a 3D Artist, System Engineer, and Photographer with a passion for crafting stunning visuals and innovative web solutions.
            He has worked with clients ranging from small businesses to large corporations, creating tailored solutions that captivate audiences and achieve meaningful outcomes.

            Based in Åre, Sweden, NJORD offers consulting services to develop high-quality 3D visuals and web development projects. We are committed to turning your vision into reality with innovation, artistry, and technical excellence.
        </p>

        <h3 class="center">Clients I worked with</h3>
        <p class="skillCloud">
            {clients.map((webskill, index) => (
                <span>
                    {webskill}{index !== clients.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <!-- <h3 class="center">3D / CG skills</h3>
        <p class="skillCloud">
            {skillsCg.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsCg.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">Web development skills</h3>
        <p class="skillCloud">
            {skillsDev.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsDev.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p> -->
    </div>

</BaseLayout>