---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import myImage from '../../src/images/Fredrik_snowshoe_walking.jpg';

const title = "About Me";

const clients = ["Didriksson (CG/Photo)", "High End Media Group (CG)", "Jensen @ R3 (CG)", "SunOff @ R3 (CG)", "Vyonyx (CG)", "STCC @ R3 (CG)", "Beyond (CG)", "We are Woonderland (CG)", "Hemtex (Photo ass)", "Ellos (Photo ass)", "Gina tricot (Photo ass)",   "Rekotex (Web)", "Autocirc @ R3 (Web)", "Hööks @ R3 (Web)", "Life @ R3 (Web)",  "ACG Pulse (Photo)", "Esoft (Photo)",];

const skillsCg = ["Model", "Texture", "Light", "UV", "Render", "DCC (Blender, Maya, C4D)", "Photoshop", "Mattepainting", "Retousching", "PBR", "Zbrush", "HDRI Creation", "Worldcreator and more"];

const skillsDev = ["ES6", "React.js", "Node.js", "Astro.js", "HTML", "CSS (SCSS, Linaria, Tailwind)", "Git", "Linux server", "Docker", "Python", "C# (learning)", "SQL", "Wordpress", "PHP", "Norce", "API", "GraphQL", "REST and more"];

---

<BaseLayout title={title}>

    <div class="content">

        <Image
            src={myImage}
            alt="Fredrik snow shoe walking"
            width={myImage.width / 2}
            densities={[1.5, 2]}
        />

        <p>
            <!-- CG ARTIST, WEB DEVELOPER & PHOTOGRAPHER. -->
            <br />
            It all started with a dream of documenting stories through my camera. I worked as a photographer's assistant, honing my skills and gained valuable experience. As life unfolded and children came along, my dreams of exploring new places and tell stories were put on hold. I began blending photography with 3D elements, working towards telling stories in a digital world.
            My web development skills, originally developed to market my business, soon gained recognition and led to a mixed professional career in CG and Web Development. This dual expertise provided a perfect balance for raising a family and still keep making stories.
            <br />
            <br />
            Now that the kids are grown and we've recently moved to Åre, Sweden, to be closer to the the outdoors and mountains, I am now diving deeper. This autumn, I'll be starting Game Development school, eager to expand my knowledge and skills, blending my 3D expertise with my programming knowledge, to create stories in a new form.
            <br />
            <br />
            As a freelancer operating under my own company, Njord Studio, I am available for freelance work in 3D/CG projects and Web Development. My unique combination of skills makes me a valuable asset for any team. If you seek a versatile professional committed to delivering great work, I stand ready to lend my expertise.
            <br />
            <br />
            I will also publish personal photography projects, as this a passion of mine.
            <br />
            <br />
            Hope to hear from you!
            <br />
            <br />
        </p>

        <h3 class="center">Clients I worked with</h3>
        <p class="skillCloud">
            {clients.map((webskill, index) => (
                <span>
                    {webskill}{index !== clients.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">3D / CG skills</h3>
        <p class="skillCloud">
            {skillsCg.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsCg.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">Web development skills</h3>
        <p class="skillCloud">
            {skillsDev.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsDev.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>
    </div>

</BaseLayout>