---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import myImage from '../../src/images/Fredrik_snowshoe_walking.jpg';

const title = "About Me";

const clients = ["Didriksson (CG/Photo)", "High End Media Group (CG)", "Jensen @ R3 (CG)", "SunOff @ R3 (CG)", "Vyonyx (CG)", "STCC @ R3 (CG)", "Beyond (CG)", "We are Woonderland (CG)", "Hemtex (Photo ass)", "Ellos (Photo ass)", "Gina tricot (Photo ass)",   "Rekotex (Web)", "Autocirc @ R3 (Web)", "Hööks @ R3 (Web)", "Life @ R3 (Web)",  "ACG Pulse (Photo)", "Esoft (Photo)",];

const skillsCg = ["Model", "Texture", "Light", "UV", "Render", "DCC (Blender, Maya, C4D)", "Photoshop", "Mattepainting", "Retousching", "PBR", "Zbrush", "HDRI Creation", "Worldcreator and more"];

const skillsDev = ["JavaScript (ES6, React.js, Next.js, Node.js, Astro.js)", "HTML", "CSS (SCSS, Linaria, Tailwind)", "Git", "Agile", "Ci/Cd (GitHub Actions, Docker Composer)", "Containers (Docker)", "Linux server", "C# (learning)", "SQL", "Wordpress", "PHP", "Norce", "API (GraphQL, REST)", "WebGL (Three.js) and more"];

---

<BaseLayout title={title}>

    <div class="content">

        <Image
            src={myImage}
            alt="Fredrik snow shoe walking"
            width={myImage.width / 2}
            densities={[1.5, 2]}
        />

        <p>
            <!-- CG ARTIST, WEB DEVELOPER & PHOTOGRAPHER. -->
            <br />
            It all started with a dream of exploring and documenting stories through my camera. I worked as a photographer's assistant, honing my skills and gaining valuable experience. As life unfolded and children came along, my dreams of exploring new places and telling stories were put on hold. I began blending CG (3D) elements into my photographs, working towards telling stories in a digital world.
            My web development skills, originally developed to make my sites and market my business, soon gained recognition and led to a mixed professional career in CG and Web Development. This dual expertise provided a perfect balance for raising a family and still make story-driven images.
            <br />
            <br />
            Now that the kids are grown and our recent move to Åre, Sweden, to be closer to the outdoors and mountains. I have now opened a poster shop, <a href="http://blackandwhiteposters.com/">Black / White Posters</a>, where you will find fine art prints with the hope of inspiring more people to go out and enjoy life and the outdoors.
            <br />
            <br />
            As a freelancer operating under my company, Njord Studio, I am available for freelance work in CG and Web Development -projects. If you seek a versatile professional in these areas, I stand ready to lend my expertise.
            <br />
            <br />
            Hope to hear from you!
            <br />
            <br />
        </p>

        <h3 class="center">Clients I worked with</h3>
        <p class="skillCloud">
            {clients.map((webskill, index) => (
                <span>
                    {webskill}{index !== clients.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">3D / CG skills</h3>
        <p class="skillCloud">
            {skillsCg.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsCg.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">Web development skills</h3>
        <p class="skillCloud">
            {skillsDev.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsDev.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>
    </div>

</BaseLayout>