---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "@unpic/astro";

const title = "About Me";

const identity = {
  firstName: "Fredrik",
  country: "Sweden",
  occupation: "Freelancer",
  hobbies: ["snowboarding", "ocean", "outdoor activities"],
  education: ["React JS Framework - Folkuniversitetet (2022)",
  "Berghs School of Communication - Art Direction (2015)",
  "Forsbergs Skola - Grafisk Design (2014)"],
  awards: ["First prize - Full page ad - Issued by Borås Tidning Din bästa sida 2021", "Silver in ANA International Echo Awards 2021.",]
};

const clients = ["Didriksson (CG/Photo)", "ACG Pulse (Photo)", "Esoft (Photo)", "High End Media Group (CG)", "Jensen (CG)", "CGI (CG)", "SunOff (CG)", "Hemtex (Photo assistant)", "Ellos (Photo assistant)", "Vyonyx (CG)", "Beyond (CG)", "Rekotex (Web)", "Autocirc (Web)", "Hööks (Web)", "Life (Web)"];

const skillsCg = ["Modelling", "Lighting", "Shading", "UV Mapping", "Photoshop", "Blender", "Maya", "Unity", "Unreal Engine", "Substance Designer", "HDRI creation"];

const skillsWeb = ["React", "JavaScript", "HTML", "CSS", "SASS", "Linaria", "TailwindCSS", "Bootstrap", "Next.js", "Node.js", "Astro.js", "GraphQL", "REST", "WordPress", "PHP", "Git", "GitHub", "GitLab", "Figma", "Norce"];

const skillsPhoto = ["Studio lighting", "Web Developer", "Photographer"];
---

<BaseLayout title={title}>

    <!-- WIDE IMAGE HERE -->
    <!-- <Image
        src="https://njordstudioab-776988930.imgix.net/Fredrik_snowshoe_walking.jpg"
        alt="Summer surfing in Varberg"
    /> -->

    <br />
    <p>
        PHOTOGRAPHER, CG ARTIST & WEB DEVELOPER
        <br />
        <br />
        It all started with a dream of documenting and telling stories through his camera. As life unfolded and children came along, he began blending photography with 3D elements, working towards telling stories in a digital world from his home office. Simultaneously, Fredrik's web development skills, initially honed for personal projects, quickly gained recognition. Leading to a professional career in CGI and Web Development. This dual expertise provided a perfect balance for raising a family and still make stories.
        <br />
        <br />
        Now, the kids are grown and with the recent move to the town of Åre, Sweden. To get closer to the mountains and the outdoors. Fredrik is returning to his roots in storytelling, dedicated to capturing engaging and memorable narratives.
        <br />
        <br />
        As a freelancer operating under his own company, Njord Studio, Fredrik is available for freelance work in Web Development, CGI and Photography projects. His unique combination of skills makes him a valuable asset for any team. If you seek a versatile professional committed to delivering great work, Fredrik stands ready to lend his expertise.
        <br />
        <br />
        --
        <br />
        <br />
        Dev knowledge: ES6, React.js, Node.js, Astro.js, HTML, CSS (SCSS, Linaria, Tailwind), Git, Linux server, Docker, Python, C# (learning), SQL, Wordpress, Norce, API, GraphQL, REST and more.
        <br />
        <br />
        CG knowledge: Model, Texture, Light, UV, Render, DCC (Blender, Maya, C4D), Photoshop, Mattepainting, Retousching, PBR, Zbrush, Worldcreator and more.
    </p>

    <!-- <p>Clients I worked with:</p>
    <p class="skillCloud">
        {clients.map((client, index) => (
            <span key={index}>{client}{index !== clients.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <p>CG skills:</p>
    <p class="skillCloud">
        {skillsCg.map((cgskill, index) => (
            <span key={index}>{cgskill}{index !== skillsCg.length - 1 ? '∙' : ''}</span>
        ))}
    </p>

    <p>Web development skills:</p>
    <p class="skillCloud">
        {skillsWeb.map((webskill, index) => (
            <span key={index}>{webskill}{index !== skillsWeb.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <p>Edcation:</p>
    <p class="skillCloud">
        {identity.education.map((education, index) => (
            <span key={index}>{education}{index !== identity.education.length - 1 ? '∙' : ''}</span>
        ))}
    </p>

    <p>Awards:</p>
    <p class="skillCloud">
        {identity.awards.map((awards, index) => (
            <span key={index}>{awards}{index !== identity.awards.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li> -->
</BaseLayout>