---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "@unpic/astro";

const title = "About Me";

const identity = {
  firstName: "Fredrik",
  country: "Sweden",
  occupation: "Freelancer",
  hobbies: ["snowboarding", "ocean", "outdoor activities"],
  education: ["React JS Framework - Folkuniversitetet (2022)",
  "Berghs School of Communication - Art Direction (2015)",
  "Forsbergs Skola - Grafisk Design (2014)"],
  awards: ["First prize - Full page ad - Issued by Borås Tidning Din bästa sida 2021", "Silver in ANA International Echo Awards 2021.",]
};

const clients = ["Didriksson (CG/Photo)", "ACG Pulse (Photo)", "Esoft (Photo)", "High End Media Group (CG)", "Jensen (CG)", "CGI (CG)", "SunOff (CG)", "Hemtex (Photo assistant)", "Ellos (Photo assistant)", "Vyonyx (CG)", "Beyond (CG)", "Rekotex (Web)", "Autocirc (Web)", "Hööks (Web)", "Life (Web)"];

const skillsCg = ["Model", "Texture", "Light", "UV", "Render", "DCC (Blender, Maya, C4D)", "Photoshop", "Mattepainting", "Retousching", "PBR", "Zbrush", "HDRI Creation", "Worldcreator and more"];

const skillsDev = ["ES6", "React.js", "Node.js", "Astro.js", "HTML", "CSS (SCSS, Linaria, Tailwind)", "Git", "Linux server", "Docker", "Python", "C# (learning)", "SQL", "Wordpress", "PHP", "Norce", "API", "GraphQL", "REST and more"];

const skillsPhoto = ["Studio lighting", "Web Developer", "Photographer"];
---

<BaseLayout title={title}>

    <!-- WIDE IMAGE HERE -->
    <Image
        src="https://njordstudioab-776988930.imgix.net/Fredrik_snowshoe_walking.jpg"
        alt="Summer surfing in Varberg"
    />
    <div class="content">
        <p>
            <!-- CG ARTIST, WEB DEVELOPER & PHOTOGRAPHER. -->
            <br />
            It all started with a dream of documenting stories through my camera. I worked as a photographer's assistant, honing my skills and gained valuable experience. As life unfolded and children came along, my dreams of exploring new places and tell stories were put on hold. I began blending photography with 3D elements, working towards telling stories in a digital world.
            My web development skills, originally developed to market my business, soon gained recognition and led to a mixed professional career in CG and Web Development. This dual expertise provided a perfect balance for raising a family and still keep making stories.
            <br />
            <br />
            Now that the kids are grown and we've recently moved to Åre, Sweden, to be closer to the the outdoors and mountains, I am now diving deeper. This autumn, I'll be starting Game Development school, eager to expand my knowledge and skills, blending my 3D expertise with my programming knowledge, to create stories in a new form.
            <br />
            <br />
            As a freelancer operating under my own company, Njord Studio, I am available for freelance work in 3D/CG projects and Web Development. My unique combination of skills makes me a valuable asset for any team. If you seek a versatile professional committed to delivering great work, I stand ready to lend my expertise.
            <br />
            <br />
            I will also publish personal photography projects, as this a passion of mine.
            <br />
            <br />
            Hope to hear from you!
            <br />
            <br />
            ---
            <br />
            <br />
            CG knowledge: Model, Texture, Light, UV, Render, DCC (Blender, Maya, C4D), Nuke, Photoshop, Mattepainting, MARI, PBR, Zbrush, Worldcreator and more.
            <br />
            <br />
            Dev knowledge: ES6, React.js, Node.js, Astro.js, HTML, CSS (SCSS, Linaria, Tailwind), Git, Linux server, Docker, Python, SQL, Wordpress, Norce, API, GraphQL, REST and more.
        </p>
    </div>

    <!-- <p>Clients I worked with:</p>
    <p class="skillCloud">
        {clients.map((client, index) => (
            <span key={index}>{client}{index !== clients.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <p>CG skills:</p>
    <p class="skillCloud">
        {skillsCg.map((cgskill, index) => (
            <span key={index}>{cgskill}{index !== skillsCg.length - 1 ? '∙' : ''}</span>
        ))}
    </p>

    <p>Web development skills:</p>
    <p class="skillCloud">
        {skillsWeb.map((webskill, index) => (
            <span key={index}>{webskill}{index !== skillsWeb.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <p>Edcation:</p>
    <p class="skillCloud">
        {identity.education.map((education, index) => (
            <span key={index}>{education}{index !== identity.education.length - 1 ? '∙' : ''}</span>
        ))}
    </p>

    <p>Awards:</p>
    <p class="skillCloud">
        {identity.awards.map((awards, index) => (
            <span key={index}>{awards}{index !== identity.awards.length - 1 ? '∙' : ''}</span>
        ))}
    </p> -->

    <!-- <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li> -->
</BaseLayout>