---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import myImage from '../../src/images/Fredrik_snowshoe_walking.jpg';

const title = "About Me";

const clients = ["Didriksson (CG/Photo)", "High End Media Group (CG)", "Jensen @ R3 (CG)", "SunOff @ R3 (CG)", "Vyonyx (CG)", "STCC @ R3 (CG)", "Beyond (CG)", "We are Woonderland (CG)", "Hemtex (Photo ass)", "Ellos (Photo ass)", "Gina tricot (Photo ass)",   "Rekotex (Web)", "Autocirc @ R3 (Web)", "Hööks @ R3 (Web)", "Life @ R3 (Web)",  "ACG Pulse (Photo)", "Esoft (Photo)",];

const skillsCg = ["Model", "Texture", "Light", "UV", "Render", "DCC (Blender, Maya, C4D)", "Photoshop", "Mattepainting", "Retousching", "PBR", "Zbrush", "HDRI Creation", "Worldcreator and more"];

const skillsDev = ["JavaScript (ES6, React.js, Next.js, Node.js, Astro.js)", "HTML", "CSS (SCSS, Linaria, Tailwind)", "Git", "Ci/Cd (GitHub Actions, Docker Composer)", "Containers (Docker)", "Linux server", "C#", "SQL", "Agile", "Wordpress", "PHP", "Norce", "API (GraphQL, REST)", "WebGL (Three.js) and more"];

---

<BaseLayout title={title}>

    <div class="content">

        <Image
            src={myImage}
            alt="Fredrik snow shoe walking"
            width={myImage.width / 2}
            densities={[1.5, 2]}
        />

        <p>
            <!-- CG ARTIST, WEB DEVELOPER & PHOTOGRAPHER. -->
            <br />
            My name is Fredrik Svärd, a freelancer operating under my company, NJORD Studio. I am available for freelance work in CGI/3D and web development projects.
            <br />
            I have a solid background in CGI, focusing on creating photorealistic 3D renderings  clients across various industries. In web development, I focus on building modern, responsive websites and applications. Whether it's bringing a 3D concept to life or building a reliable web solution, I bring both creativity and technical skill to the table.
            <br />
            Photography is both a passion of mine and a way to explore the outdoors. It also allows me to contribute to raising awareness of the natural world we need to protect. Through my photography, I strive to convey a sense of mystery and beauty. My images are often grainy, reflecting how I want them to appear—like memories. I hope my photos invite viewers to fill in the blanks, much like a story in a book.
            <br />
            I currently live in Åre with my family, where I can spend more time outdoors doing what I love. I am also studying remotely in 'System Engineering / Cloud Development' to further enhance my development skills.
            <br />
            Get out there!
            <br />
            Fredrik
            <br />
            <br />
        </p>

        <h3 class="center">Clients I worked with</h3>
        <p class="skillCloud">
            {clients.map((webskill, index) => (
                <span>
                    {webskill}{index !== clients.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">3D / CG skills</h3>
        <p class="skillCloud">
            {skillsCg.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsCg.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>

        <h3 class="center">Web development skills</h3>
        <p class="skillCloud">
            {skillsDev.map((webskill, index) => (
                <span>
                    {webskill}{index !== skillsDev.length - 1 && <span class="dot">·</span>}
                </span>
            ))}
        </p>
    </div>

</BaseLayout>