---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import startImg from '../../src/images/project_09/Njord_Studio_Jensen_01.jpg';

const title = "Welcome to NJORD!";

// Fetch all posts
const allPosts = await Astro.glob('./posts/*.mdx');

// Sort posts by date and get the latest 3
const latestPosts = allPosts
  .sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
  .slice(0, 3);
---

<BaseLayout title={title}>

    <div class="content">


        <figure data-lightbox="true">
            <Image
            src={startImg}
            alt="Summer surfing in Varberg"
            width={startImg.width / 2}
            densities={[1.5, 2]}
            />
            <figcaption>Full CG image for Jensen @ R3.</figcaption>
        </figure>

        <p class="m-top-2 m-bottom-4">
            Computer-generated imagery is everywhere in today's world, on our TV screens, social media feeds and print media. Why is that? It's beacuse it's fast to create, more precise and often cheaper than the alternatives.
            <br />
            <br />
            At NJORD, we provide consulting and freelancing services in 3D visuals and web development, helping clients bring their ideas to life through captivating visuals and seamless digital solutions. Our mission is to collaborate with clients to create interactive experiences that engage audiences and deliver impactful results.
        </p>

        <section class="latest-posts m-bottom-4">

            <h2>Latest Projects</h2>

            <div class="articlesList content">
              {latestPosts.map((post, index) => (
                <a href={post.url} class="articleItem" key={index}>
                  <img
                    class="img"
                    src={post.frontmatter.image.url}
                    alt={post.frontmatter.image.alt}
                  />
                  <div class="articleItemInfo">
                    <h2>{post.frontmatter.title}</h2>
                    <p class="articleDescription">{post.frontmatter.description}</p>
                  </div>
                </a>
              ))}
            </div>
            <h3 class="view-all text-center text-bold">
              <a href="/projects/" class="view-all-button">View All Projects</a>
            </h3>
          </section>


    </div>

</BaseLayout>