---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/stories/*.mdx');
const title = 'Stories';
---

<BaseLayout title={title}>

    <div class="articlesList">

        {allPosts.map((story) => (
            <a href={story.url} class="articleItem">
            <img class="articleImg" src={story.frontmatter.image.url} alt={story.frontmatter.image.alt} />
            <div class="articleItemInfo">
                <h2>{story.frontmatter.title}</h2>
                <p class="articleAuthor">{story.frontmatter.author}</p>
                <p class="articleDescription">{story.frontmatter.description}</p>
            </div>
            </a>
        ))}

    </div>

</BaseLayout>